.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}


/* counter css*/
.boxCounter {
    border: 3px solid black;
    border-radius: 10px;
    background-color: white;
    text-align: center;

}
.boxCounter p {
    margin: 10px;
}
.addBtn {
    background-color: green;
    color: white;
}
.deleteBtn {
    background-color: darkred;
    color: white;
}


/* settings css*/
.boxSettings {
    border: 3px solid black;
    border-radius: 10px;
    background-color: white;
}

/* error css*/
.boxError {
    border: 3px solid darkred;
    border-radius: 10px;
    background-color: white;
    color: darkred;
}
.boxError button {
    background-color: darkred;
    color: white;
}